<header class="admin-header">
  <h1>Panel de Creador</h1>
  <p>Gestiona tu contenido de SoundPodcastUdec desde aquí.</p>
</header>

<div class="admin-dashboard">
  <!-- Gestión de contenido -->
  <div class="admin-card">
    <h3>Mis podcasts</h3>
    <p>Lista tus podcast subidos desde aquí</p>
    <a routerLink="/gestion"><button>Ir a gestión</button></a>
  </div>

  <!-- Moderación de cuentas -->
  <div class="admin-card">
    <h3>Gestion de Podcast </h3>
    <p>Revisa todos tus podcast y solictudes </p>
    <a routerLink="/moderacion"><button>Ir a moderación</button></a>
  </div>

  <!-- Novedades de banner -->
  <div class="admin-card">
    <h3>Nueva solicitud podcast</h3>
    <p>Haz tu solicitud para un nuevo podcast aquí</p>
    <a routerLink="/banners"><button>Ir a banners</button></a>
  </div>
</div>
