<footer class="footer">
    <div class="footer-container">
  
      <!-- Logo y nombre -->
      <div class="footer-brand">
        <img src="/assets/sp.png" alt="Podcast Logo" class="logo" />
        <span class="brand-text">SoundPodcastU</span>
      </div>
  
      <!-- Enlaces -->
      <div class="footer-links">
        <a routerLink="/" routerLinkActive="active">Inicio</a>
        <a routerLink="/episodios" routerLinkActive="active">Episodios</a>
        <a routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </div>
  
      <!-- Redes -->
      <div class="footer-social">
        <a href="https://twitter.com" target="_blank"><mat-icon>twitter</mat-icon></a>
        <a href="https://facebook.com" target="_blank"><mat-icon>facebook</mat-icon></a>
        <a href="https://instagram.com" target="_blank"><mat-icon>instagram</mat-icon></a>
      </div>
    </div>
  
    <div class="footer-bottom">
      © {{ currentYear }} SoundPodcastU. Todos los derechos reservados.
    </div>
  </footer>
  