<mat-toolbar class="navbar">

  <div class="navbar-left">
    <img src="../../../assets/Sound-Podcast.png" class="logo" alt="">
    <span class="title">SoundPodcastU</span>
  </div>

  <div class="navbar-center hide-on-mobile">

    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>

    <ng-container *ngIf="!isAdminLoggedIn && !(user$ | async); else loggedIn">

      <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>

      <button mat-button routerLink="/register">
        <mat-icon>how_to_reg</mat-icon>
        <span>Register</span>
      </button>

    </ng-container>

    <ng-template #loggedIn>

      <button *ngIf="isAdminLoggedIn" mat-button routerLink="/admin-dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Panel Admin</span>
      </button>

      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>

    </ng-template>

  </div>

  <div class="navbar-right">

    <button mat-icon-button class="hide-on-desktop">
      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>

      <ng-container *ngIf="!isAdminLoggedIn && !(user$ | async); else loggedInMenu">

        <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>

        <button mat-menu-item routerLink="/register">
          <mat-icon>how_to_reg</mat-icon>
          <span>Register</span>
        </button>

      </ng-container>

      <ng-template #loggedInMenu>

        <button *ngIf="isAdminLoggedIn" mat-menu-item routerLink="/admin-dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Panel Admin</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>

      </ng-template>

    </mat-menu>

  </div>

</mat-toolbar>