<header>
  <div class="welcome-message">
    <h1>¡Únete a SoundPodcastUdec!</h1>
    <p>Forma parte de nuestra comunidad de oyentes. Regístrate en un par de segundos y accede a contenido exclusivo de nuestros podcasts universitarios.</p>
    <p>La creación de tu cuenta es rápida, segura y gratuita. ¡Empieza a disfrutar hoy mismo!</p>
  </div>
</header>

<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Registrarse</h2>

    <!-- Nombre -->
    <label>Nombre</label>
    <input type="text" formControlName="nombre" placeholder="Introduce tu nombre" />
    <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched">
      <small>Nombre es obligatorio</small>
    </div>

    <!-- Apellido -->
    <label>Apellido</label>
    <input type="text" formControlName="apellido" placeholder="Introduce tu apellido" />
    <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched">
      <small>Apellido es obligatorio</small>
    </div>

    <!-- Email -->
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Introduce tu correo" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <small>Correo inválido</small>
    </div>

    <!-- Contraseña -->
    <label>Contraseña</label>
    <input type="password" formControlName="password" placeholder="Introduce tu contraseña" />
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <small>Mínimo 6 caracteres</small>
    </div>

    <!-- Confirmar Contraseña -->
    <label>Confirmar Contraseña</label>
    <input type="password" formControlName="confirmPassword" placeholder="Repite tu contraseña" />
    <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
      <small>Las contraseñas no coinciden</small>
    </div>

    <!-- Botón -->
    <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>

    <!-- Mensaje de error -->
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <!-- Enlaces -->
    <p class="login-link">
      ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a>
    </p>
    <p class="admin-link">¿Eres administrador? <a routerLink="/admin-login">Haz clic aquí</a></p>
  </form>
</div>
