<header class="main-header">
    <div class="header-content">
      <div class="logo-container">
        <img src="../../assets/Sound-Podcast.png" alt="Podcast Hub Logo" class="logo">
      </div>
      <h1 class="header-title">SoundPodcastU</h1>
      <p class="header-subtitle">Descubre, escucha y comparte los mejores podcasts de la 
        Universidad de Cundinamarca.
        Conéctate con contenidos creados por estudiantes, docentes y expertos que abordan 
        temas académicos, culturales y de actualidad. Explora, sigue tus programas 
        favoritos y forma parte de una comunidad que comunica, aprende y transforma.</p>
        <button mat-raised-button class="cta-button" color="accent" routerLink="/form-p">
            Solicitud para compartir podcast</button>

    </div>
  </header>