/* HEADER ADMIN */

header{
background: linear-gradient(135deg,#22c55e,#166534);
color:white;
text-align:center;
padding:10px 20px;
}

.welcome-message{
margin:0 auto;
}

.welcome-message h1{
font-size:2.6rem;
margin-bottom:10px;
}

.welcome-message p{
font-size:1.1rem;
opacity:0.9;
}

/* CONTENEDOR LOGIN */

.login-container{
display:flex;
justify-content:center;
align-items:center;
padding:55px 20px;
background:#f5f5f5;
box-sizing:border-box;
}

/* TARJETA LOGIN */

form{
background:white;
padding:40px 45px;
border-radius:14px;

width:100%;
max-width:600px;

box-shadow:0 15px 40px rgba(0,0,0,0.15);

margin-top:-70px;
position:relative;
z-index:2;
}

/* TITULO */

h2{
text-align:center;
margin-bottom:30px;
font-size:28px;
font-weight:600;
color:#166534;
}

/* INPUTS */

.form-group{
margin-bottom:20px;
display:flex;
flex-direction:column;
}

.form-group label{
font-weight:600;
margin-bottom:8px;
color:#333;
}

.form-group input{
padding:12px 14px;
border-radius:8px;
border:1px solid #ddd;
font-size:15px;
transition:0.3s;
}

.form-group input:focus{
outline:none;
border-color:#22c55e;
box-shadow:0 0 6px rgba(34,197,94,0.3);
}

/* BOTON */

button{
width:100%;
padding:14px;
background:linear-gradient(135deg,#22c55e,#15803d);
border:none;
border-radius:8px;
color:white;
font-weight:600;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover:enabled{
transform:translateY(-2px);
box-shadow:0 6px 18px rgba(0,0,0,0.18);
}

button:disabled{
background:#ccc;
cursor:not-allowed;
}

/* ERRORES */

.error-message{
color:red;
font-size:13px;
margin-top:5px;
}

.error{
text-align:center;
color:red;
margin-top:15px;
font-size:14px;
}

/* LINK REGISTER */

.register-link{
text-align:center;
margin-top:25px;
font-size:15px;
}

.register-link a{
color:#15803d;
font-weight:600;
text-decoration:none;
}

.register-link a:hover{
text-decoration:underline;
}

/* RESPONSIVE */

@media (max-width:1024px){

form{
max-width:500px;
}

}

@media (max-width:768px){

.welcome-message h1{
font-size:2rem;
}

form{
padding:35px;
max-width:420px;
}

}

@media (max-width:480px){
.frase{
    display: none;
}
header{
padding:10px 15px;
}

form{
padding:15px;
max-width:100%;
}

button{
font-size:15px;
}

}