.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    place-content: center;
    max-width: 100% !important;
  }
  .nav{
    width: 100%;
    top: 0;
    justify-content: space-between;
    z-index: 100;
  }
  .main {
    width: 100%;
    margin-bottom: auto;
    margin: 0 !important;
  }
  footer{
    margin-top: auto;
    width: 100%;
    bottom: 0 !important;
    z-index: 100 ;
  }

  @media screen and (min-width: 1048px) {
    .float{
      bottom: 190px;
      box-shadow: 2px 0 10px gray;
    }
    .icon{
      width: 70px;
    }
  }
  @media  screen and (max-width:450px) {
    .nav{
      top: 0;
      display: fixed;
    }
  }