<app-header></app-header>

<div class="podcast-list">

  <mat-card *ngFor="let podcast of podcasts$ | async" class="podcast-card">

    <!-- Imagen del podcast -->
    <img 
      *ngIf="podcast.safeImageUrl" 
      [src]="podcast.safeImageUrl" 
      alt="{{ podcast.title }}" 
      class="podcast-image"
    >

    <mat-card-content class="card-content">

      <!-- Título -->
      <h3 class="podcast-title">
        {{ podcast.title }}
      </h3>

      <!-- Botón para ir a la vista completa -->
      <button 
        mat-raised-button 
        color="primary"
        [routerLink]="['/podcast', generateSlug(podcast.title)]">
        Ver podcast
      </button>

    </mat-card-content>

  </mat-card>

</div>