<header>
  <div class="welcome-message">
    <h1>Panel de Creador</h1>
    <p>
      Inicia sesión para acceder al panel de creadores y gestionar tus podcasts
      en <strong>SoundPodcastU</strong>.
    </p>
  </div>
</header>

<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <h2>Iniciar sesión como Creador</h2>

    <!-- UID Firebase -->
    <div class="form-group">
      <label for="uid">UID  o  Nombre Creador</label>
      <input 
        type="text" 
        id="uid" 
        [(ngModel)]="uid" 
        name="uid"
        placeholder="dmsl87"
        required />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Correo Registrado</label>
      <input 
        type="email" 
        id="email" 
        [(ngModel)]="email"  
        name="email"
        placeholder="Ingresa tu correo"
        required />
    </div>

    <!-- Botón -->
    <button type="submit" [disabled]="loading">
      {{ loading ? 'Validando...' : 'Entrar' }}
    </button>

    <!-- Mensaje de error -->
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <!-- Enlace a login normal -->
    <div class="register-link">
      <p>
        ¿Eres usuario normal? 
        <a routerLink="/login">Iniciar sesión como estudiante</a>
      </p>
    </div>
  </form>
</div>
